# Term-Document Matrix

In [1]:
import os, sys, spacy

import pandas as pd
# import gensim.downloader as api

# Get the current working directory of the notebook
notebook_dir = os.getcwd()
# Add the parent directory to the system path
sys.path.append(os.path.join(notebook_dir, '../'))

from data_processing import DataProcessing

In [ ]:
def extract_terms(doc):
    """Extract terms (also called words) from a document (text file or string).

    Parameters:
    -----------
    doc: `str`
        A document with words

    Returns:
    --------
    words: `list`
        The words from the doc 
    """

    word_count_dic = {}
    words = doc.split()
    return words

In [3]:
document_1 = "I'm a Kingdom Man Man Kingdom"
document_2 = "I'm a Kingdom Man I'm a Kingdom Man I'm a Kingdom Man"

In [4]:
d1_words = extract_terms(document_1)
d2_words = extract_terms(document_2)
d1_words, d2_words

(["I'm", 'a', 'Kingdom', 'Man', 'Man', 'Kingdom'],
 ["I'm",
  'a',
  'Kingdom',
  'Man',
  "I'm",
  'a',
  'Kingdom',
  'Man',
  "I'm",
  'a',
  'Kingdom',
  'Man'])

In [5]:
def get_word_counts(words: list[str]): 
    word_count_dic = {}
    for word in words:
        if word in word_count_dic:
            word_count_dic[word] = word_count_dic[word] + 1

        else: # Word not inÂ 
            word_count_dic[word] = 1
    
    word_count_df = pd.DataFrame(word_count_dic.keys(), columns=["Word"])
    word_count_df["Count"] = word_count_dic.values()
    return word_count_df

In [8]:
d1_word_count_df = get_word_counts(d1_words)
d1_word_count_df

      Word  Count
0      I'm      1
1        a      1
2  Kingdom      2
3      Man      2

In [9]:
d2_word_count_df = get_word_counts(d2_words)
d2_word_count_df

      Word  Count
0      I'm      3
1        a      3
2  Kingdom      3
3      Man      3

In [10]:
DataProcessing.concat_dfs([d1_word_count_df, d2_word_count_df])

      Word  Count
0      I'm      1
1        a      1
2  Kingdom      2
3      Man      2
4      I'm      3
5        a      3
6  Kingdom      3
7      Man      3